<h1>Users#show</h1>

<h3>User Info</h3>
<h4><%= current_user.name %></h4>
<ul>
	<li><%= current_user.phone %></li>
	<li><%= current_user.email %></li>

</ul>
<% current_user.reservations.where("date >= ?", Date.today).order(date: :asc).each do |r| %>
<div>
	<%= r.restaurant.name %>
	<ul>
	<li><%= r.date.to_formatted_s(:long_ordinal) %></li>
	<li>Time: <%= to_12h r.hour %></li> 
	<li><%= link_to "Delete", r, method: :delete %></li>
	</ul>
</div>
<% end %>