<%= form_for [@restaurant, @my_reso] do |f| %>
<p>
<%= f.label :user_id %><br>
<%= f.text_field :user_id %>
</p>

<p>
<%= f.label :guest_qty %><br>
<%= f.text_field :guest_qty %>
</p>

<p>
<%= f.label :date %><br>
<%= f.date_field :date %>
</p>

<p>
<%= f.label :hour %><br>
<%= f.text_field :hour %>
</p>
<p>
<%= f.submit %>
</p
<% end %>

<% if @my_reso.errors.any? %>
	<div id='error_messages'>
		<h2><%= pluralize(@my_reso.errors.count, "error") %> prevent this product from being saved:</h2>

		<ul>
			<% @my_reso.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
		</ul>
	</div>
<% end %>

<!-- Can we adjust date and time for our time zone? -->