<h1>All reservations</h1>

<% @reservations.each do |r| %>
<ul>
	<li>userid:<%= r.user_id %></li>
	<li>booked by: <%= User.find_by(id: r.user_id).name %></li>
	<li>restaurant_id: <%= r.restaurant_id %></li>
	<li>resto name: <%= Restaurant.find_by(id: r.restaurant_id).name %></li>
	<li>** <%= r.guest_qty %> people </li>
	<li>** <%= r.hour %> o'clock </li>
	<li><%= r.date %></li>
	<li><%= link_to "delete", reservation_path(r), :method => :delete %></li>
	<li><%= link_to "edit", edit_reservation_path(r) %></li>
	<li><%= link_to "show", reservation_path(r) %></li>
</ul>

<% end %>

Seats occupied at hour:
<%= @seats_occupied %>