<h1>Reservations#new</h1>

<p>Find me in app/views/reservations/new.html.erb</p>

<%= form_for @my_reso do |f| %>

<%= f.label :user_id %>
<%= f.text_field :user_id %>

<%= f.label :restaurant_id %>
<%= f.text_field :restaurant_id %>

<%= f.label :guest_qty %>
<%= f.text_field :guest_qty %>

<%= f.label :date %>
<%= f.date_field :date %>

<%= f.label :time %>
<%= f.time_field :time %>


<%= f.submit %>

<% end %>