<h1>Restaurants#index</h1>

<h2>All restaurants</h2>

<% @restaurants.each do |r| %>
<ul>
	<li>restaurant:<%= r.id %></li>
	<li>resto name:<%= r.name %></li>
	<li>price range: <%= r.pricerange %></li>
	<li>category: <%= r.category %></li>
	<li>description: <%= r.description %></li>
	<li><%= link_to "delete", restaurant_path(r), :method => :delete %></li>
	<li><%= link_to "edit", edit_restaurant_path(r) %></li>
	<li><%= link_to "show", restaurant_path(r) %></li>
</ul>

<% end %>

Seats occupied at hour:
<%= @seats_occupied %>